/* #navigation{ */
/* 	background-color: #b1040e; */
/* 	width: 100%; */
/* 	position: fixed; */
/* 	top: 54px; */
/* 	text-align: center; */
/*     display: block; */
/*     height: 35px; */
/* } */
#navigation .nav{
	display: inline-block;
}
#navigation ul {
	margin-bottom: 0px;
}
#navigation {
	background-color: rgb(13, 125, 32);
}
#wrapper{
	padding: 0px;
}
.menu2 li>a {
    font-family: Stanford ;
    font-size: 25px ;
    color: white;
}
.menu2 li>img{
	width: 30px;
    margin-top: 3px;
}
#banner{
	text-align: center;
	
}
.menu2 .fix {
  left: 0;
  max-width: 100%;
  overflow: visible;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#heading img {
	padding-left: 50px;
}
#heading {
	text-align: left;
   /* background-image: url("../images/dhnl3.jpg"); */
    padding-bottom: 10px;
     padding-top: 10px;
     background-color: #4BB030;
}
#nl_title h3{
    color: #0038BD;;
    padding-left: 55px;
    font-size: 30px;
}
#nl_title h1{
	 font-size: -webkit-xxx-large;
}
.menu2 li:hover>.child-menu {
	display: block;
}
.child-menu{
	display: none;
	position: absolute;
	width: 200px;
	left: -20px;
	background-color: rgb(13, 125, 32);
	top: 35px;
}
.child-menu li:hover{
	background-color: green;
}
.child-menu li{
	list-style-type: none;
	padding:10px; 
}
.child-menu li>a{
	text-decoration: none !important;
}
#footer{
	background-color: #4BB030;
	margin-bottom: 0px;
    height: 100px;
}
